@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.bottom_button {
  margin: 20px;
  text-align: right;
}

.header {
  border-bottom: 1px solid #E0E3E7;
}

.board {
  margin: 20px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}