<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhjun.shopmall.mapper.BoardMapper">

    <select id="getBoardList" resultType="com.yhjun.shopmall.vo.BoardVO">
        SELECT * FROM BOARD
    </select>

</mapper>